body {
    margin: 10px;
    background-color: rgb(255, 255, 255);
}
#linearoja{
    width: 100px;
    height: 2px;
    position: absolute;
    background-color: rgb(244, 1, 1);
    top: 58px;
    left: 38.5%;
}
#linearoja-a{
    width: 45px;
    height: 2px;
    position: absolute;
    background-color: red;
    top: 58px;
    left: 58.8%;
}
#lineaazul{
    width: 100px;
    height: 2px;
    position: absolute;
    background-color: #0419d8;
    top: 66px;
    left: 38.5%;
}
#lineaazul-b{
    width: 45px;
    height: 2px;
    position: absolute;
    background-color: #0419d8;
    top: 66px;
    left: 58.8%;
}
#cuerpoconsola {
    width: 460px;
    height: 680px;
    background-color: rgb(218, 208, 208);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border-bottom-right-radius: 76px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 4);
}
#pantallanegra {
    margin: 40px;
    width: 500px;
    height: 250px;
    background-color: #797688;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border-bottom-right-radius: 46px;
    box-shadow: inset 4px -4px 20px -3px #3f3f3f;

}
#pantallaverde {
    width: 260px;
    height: 200px;
    background-color: #9ca04c;
    box-shadow: inset 3px -3px 20px -3px black;
}
#circulocruceta {
    margin: 23%;
    width: 120px;
    height: 120px;
    left: 15%;
    top: .5%;
    border-radius: 50%;
    background-color: #d8d4d1;
    position: absolute;
    box-shadow: inset -5px -5px 23px -5px #a2a2a2;
}
#ovalobotonesAyB {
    margin: 371px;
    width: 130px;
    height: 70px;
    left: 425px;
    padding: 2px;
    border-radius: 50px;
    background-color: #d8d4d1;
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: inset -5px -5px 23px -5px #a2a2a2;
}
#fondobotonselect {
    margin: 33.9%;
    width: 78px;
    height: 28px;
    left: 120px;
    background-color: #d8d4d1;
    position: absolute;
    border-radius: 14px;
    transform: rotate(-45deg);
    box-shadow: inset -5px -5px 23px -5px #a2a2a2;
}
#fondobotonstart {
    margin: 28.7%;
    width: 78px;
    height: 28px;
    left: 273px;
    top: 11.6%;
    background-color: #d8d4d1;
    position: absolute;
    border-radius: 14px;
    transform: rotate(-45deg);
    box-shadow: inset -5px -5px 23px -5px #a2a2a2;

}
.crucetavertical {
    width: 30px;
    height: 100px;
    background-color: #2b2b2b;
    position: absolute;
    margin: 35%;
    top: -170px;
    right: 90px;
    left: 89px;
    border-radius: 10px;

}
.crucetahorizontal {
    width: 30px;
    height: 100px;
    background-color: #2b2b2b;
    position: relative;
    margin: 30%;
    top: -11px;
    right: -7px;
    left: -7px;
    border-radius: 10px;
    transform: rotate(90deg);

}
.botonA {
    width: 45px;
    height: 45px;
    left: 400%;
    right: 900%;
    top: -80px;
    margin: -325%;
    position: absolute;
    background-color: #71001a;
    border-radius: 50%;
    box-shadow: inset 4px -4px 5px -3px #eeabba;
} 
.botonB {
    width: 45px;
    height: 45px;
    left: 400%;
    right: 900%;
    top: 180px;
    margin: -500%;
    position: absolute;
    background-color: #71001a;
    border-radius: 50%;
    box-shadow: inset 4px -4px 5px -3px #eeabba;
}
.botonselect {
    width: 15px;
    height: 60px;
    left: 400%;
    right: 900%;
    top: 225px;
    margin: -40%;
    position: absolute;
    background-color: #787878;
    border-radius: 8px;
    transform: rotate(136deg);
    box-shadow: inset 4px -4px 5px -3px #393939;
}
.botonstart {
    width: 15px;
    height: 60px;
    margin: 60px;
    right: 300%;
    left: -105px;
    position: absolute;
    background-color: #787878;
    border-radius: 8px;
    transform: rotate(180deg);
    box-shadow: inset 4px -4px 5px -3px #393939;
}
.altavoces {
    width: 150px;
    height: 100px;
    transform: rotate(85deg);
    margin: -90px;
    top: 50%;
    left: 1800%;
    right: 4000px;
    position: absolute;
    translate: -60%;

}
.altavoces1,
.altavoces2,
.altavoces3,
.altavoces4,
.altavoces5,
.altavoces6 {
    width: 7px;
    height: 60px;
    background-color: #d8d4d1;
    border-radius: 20px;
    box-shadow: inset 5px -5px 23px -5px #494848;
}
.altavoces1 {
    position: absolute;
    left: 0px;
}
.altavoces2 {
    position: absolute;
    left: 20px;
}
.altavoces3 {
    position: absolute;
    left: 40px;
}
.altavoces4 {
    position: absolute;
    left: 60px;
}
.altavoces5 {
    position: absolute;
    left: 80px;
}
.altavoces6 {
    position: absolute;
    left: 100px;
}
#brillo-a {
    width: 19px;
    height: 3px;
    background-color: #636363;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    left: 5px;
}
#brillo-b {
    width: 23px;
    height: 2px;
    background-color: #636363;
    border-radius: 10px;
    position: absolute;
    top: 36px;
    left: 35px;
    z-index: 300;
}
#brillo-c {
    width: 23px;
    height: 2px;
    background-color: #636363;
    border-radius: 10px;
    position: absolute;
    top: 36px;
    left: -25px;
    z-index: 200;
}
#frasesuperior{
    position: absolute;
    top: 6.3%;
    left:45.3%;
    font-size: 12px;
    color: #f8edf0;
    font-family: 'Times New Roman', Times, serif;
}
#battery{
    position: absolute;
    top: 23%;
    left: 38.5%;
    font-size: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: #f8edf0;
}
#b{
    width: 20px;
    height: 12px;
    top: 64%;
    left: 56%;
    transform: rotate(315deg);
    margin: 15px;
    position: absolute;
}
#a{
    width: 20px;
    height: 12px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: rotate(312deg);

}
#select{
    width: 55px;
    height: 12px;
    top: 77%;
    left: 44%;
    transform: rotate(316deg);
    position: absolute;
}
#start{
    width: 55px;
    height: 12px;
    top: 76%;
    left: 49%;
    transform: rotate(316deg);
    position: absolute;
}
#nintendo{
    width: 100px;
    height: 12px;
    position: absolute;
    top: 44%;
    left: 38%;
}
#gameboy{
    width: 110px;
    height: 20px;
    position: absolute;
    top: 43%;
    left: 45%;
}
#tm{
    width: 20px;
    height: 6px;
    position: absolute;
    top: 45%;
    left: 52%;
}
#luzbateria{
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: red;
    top: 21%;
    left: 39%;
    border-radius: 50%;
}
#lineasuperiorgris{
    width: 460px;
    height: 4px;
    background-color: rgb(174, 174, 174);
    position: absolute;
    top: 4%;
    left: 34.9%;
}